<nav class="sidebar bg-dark text-white p-3">
    <h5 class="text-center">Şişler Bulvarı Cafe</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="/index" class="nav-link text-white">Anasayfa</a>
        </li>
        <li class="nav-item">
            <a href="/menu" class="nav-link text-white active">Menü</a>
        </li>
        <li class="nav-item">
            <a href="/siparisler" class="nav-link text-white">Siparişler</a>
        </li>
        <li class="nav-item">
            <a href="aylik-istatistikler" class="nav-link text-white">İstatistikler</a>
        </li>
    </ul>
</nav>
